<hr>
<h3>About me</h3>
<p>
<p>Hi! I'm Mark and I'm the founder of <a href="http://yuri.ai">Yuri.ai</a> a company that helps game developers and roboticists easily build intelligent agents. </p>

<p>In my past lives I've worked as a researcher, developer and program manager at Microsoft, NASA's JPL, UC Berkeley and UC San Diego. </p>

<p>In my spare time I enjoy playing and making video games, board games. </p>
</p>

<hr>
<h3>Latest Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br>
<br>
