<hr>
<h3>About me</h3>
<p>
<p>Hi! I'm Mark and I'm the founder of <a href="http://yuri.ai">yuri.ai</a> a tool that helps game developers and roboticists easily build intelligent agents. </p>

<p>I'm fairly active on Twitter and Github so follow me there!</p>

<p>In my past lives I've worked as a researcher, developer and program manager at Microsoft AI and Researcher, NASA's Jet Propulsion Lab, UC Berkeley and UC San Diego. </p>

<p>In my spare time, I enjoy playing and making video games.</p>
</p>

<hr>
<h3>Latest Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br>
<br>
